<%= console.log(userInfo) %>
<header><link rel="stylesheet" type="text/css" href="/styles/settings.css" /></header>
<div class="settings">
    <form action="/user/settings" method="POST" enctype="multipart/form-data">   
        <table>
            <tr>
                <td>User Name: </td>
                <td><input name="username" type="text" disabled placeholder="<%= userInfo.user.username %> "
                        value="<%= userInfo.user.username ? userInfo.user.username : '' %>"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input name="email" type="text"
                        value="<%= userInfo.user.email ? userInfo.user.email : '' %>"></td>
            </tr>  
            <tr>
                <td>First Name: </td>
                <td><input name="firstName" type="text"
                        value="<%= userInfo.user.firstName ? userInfo.user.firstName : '' %>"></td>
            </tr> 
            <tr>
                <td>Last Name: </td>
                <td><input name="lastName" type="text"
                        value="<%= userInfo.user.lastName ? userInfo.user.lastName : '' %>"></td>
            </tr>                        
            <tr>
                <td>Password:</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td>Password Confirmation:</td>
                <td><input name="passwordConfirm" type="password"></td>
            </tr> 
            <tr>
                <td>Profile Picture:</td>
                <td><input id="profilePicture" name="profilePicture" type="file"></td>
            </tr>  
            <tr>
                <td>Interests:</td>
                <td><input name="interests" type="text" 
                    value="<%= userInfo.user.interests ? userInfo.user.interests : '' %>"></td>
            </tr>
            <tr>
                <td></td>
                <td> <input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
<p class="errorMessage"><%= errorMessage ? errorMessage : "" %></p>
